<div class="container">

<form class="create-form" *ngIf="entryForm" [formGroup]="entryForm" novalidate (ngSubmit)="onSubmit(entryForm.value)">

  <h3>Emotions</h3>
  <div formGroupName="emotions" *ngFor="let emotion of emotions">
    <div layout="row">
      <div layout-align="center center">
        <span class="md-body-1">{{emotion.id}}</span>
      </div>
      <mat-slider md-discrete thumbLabel step="1" min="1" max="7" tickInterval="1" [formControlName]="emotion.id"></mat-slider>
    </div>
  </div>

  <h3>Activities</h3>
  <tagify *ngIf="activitiesReady" [settings]="tagifySettings" formControlName="activities"></tagify>

  <div class="row submit-button-container">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!entryForm.valid">Create</button>
    </div>
  </div>

</form>

</div>
