<form class="create-form" *ngIf="entryForm" [formGroup]="entryForm" novalidate (ngSubmit)="onSubmit(entryForm.value)">

  <h3>Emotions</h3>
  <div formGroupName="emotions" *ngFor="let emotion of emotions | keyvalue">
    <div layout>
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">{{emotion.value.name}}</span>
      </div>
      <mat-slider flex md-discrete step="1" min="1" max="7" tickInterval="1" [formControlName]="emotion.key"></mat-slider>
    </div>
  </div>

  <tagify *ngIf="activitiesReady" [settings]="tagifySettings" formControlName="activities"></tagify>

  <div class="row submit-button-container">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!entryForm.valid">Create</button>
    </div>
  </div>

</form>
