/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-nav-list .active-list-item { background: #ccc; }

.activity-picker.tagify { border: none; }
.activity-picker .tagify__tag { cursor: pointer; }
.activity-picker .activity-picker-count {
  font-size: 13px;
  color: #aaa;
}
.activity-picker .activity-picker-count:before {
  content: " × ";
}

app-stats-details #chart-pca .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px;
}

app-stats-details #chart-pca .grid .tick {
  stroke: #fff;
  color: #fff;
  stroke-opacity: 1;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

app-stats-details #chart-pca .grid path { stroke-width: 0; }

app-stats-details #chart-pca .overlay { fill: none; pointer-events: all; }
