/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-nav-list .active-list-item { background: #ccc; }

.activity-picker.tagify { border: none; }
.activity-picker .tagify__tag { cursor: pointer; }
.activity-picker .activity-picker-count {
  font-size: 13px;
  color: #aaa;
}
.activity-picker .activity-picker-count:before {
  content: " × ";
}


app-stats-detail #chart-pca { width: 400px; height: 400px; }
