<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLink="/form" routerLinkActive="active-list-item">Report</mat-list-item>
      <mat-list-item routerLink="/list" routerLinkActive="active-list-item">List</mat-list-item>
      <mat-list-item routerLink="/stats" routerLinkActive="active-list-item">Stats</mat-list-item>
      <mat-list-item (click)="login()">Log in</mat-list-item>
      <mat-list-item (click)="logout()">Log out</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
